<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Happy Hour LV</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <a href="/bars/new">Add New Location</a>
    <h1>Happy Hour LV</h1>
    <h2>Bars</h2>
    <ul>
      <% for(let i = 0; i < bars.length; i++) { %>
      <li>
        <a href="/bars/<%=bars[i].id%>"><%=bars[i].name%></a>
        <form action="/bars/<%=bars[i].id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete" />
        </form>
        <a href="/bars/<%=bars[i].id%>/edit">EDIT</a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
